{% extends 'layout.html' %}


{% block body %}

<h3>HAkkimizda</h3>
<hr>
<p>
    

Aloya.org 29 Ekim 2019’da FospTech.az tarafından kurulmuştur. İlk zamanlarda İnstagram üzerinden yayın hayatına başlayan sayfamız 1 Nisan 2020 itibariyle web site ve tüm sosyal medya hesaplarında yayın hayatına sürdürmeye devam etmektedir.

Aloya.org, tarafsız bir Biologi haber portalı olup, içeriklerini kendi yazar kadrosuyla üretmektedir. Ziyaretçilerinin ilgi duyduğu bitkiler alanında makaleler ve videolar ile güncel içerikleri onlara ücretsiz olarak sunmaktadır.

Aloya.org ekibi ile iletişime geçmek için aloya.org@gmail.com e-posta adresini kullanabilirsiniz. Daha detaylı ulaşım bilgileri için iletişim ve künye sayfalarını ziyaret edin.

</p>


{% endblock body %}
